.cover {
    width: 330px;
    height: 300px;
    object-fit: cover;
}


.box {
    box-shadow: 0 15px 10px -10px rgb(0 0 0 / 20%);
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.category span {
    background: #6a8f3f;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
}

.text {
    margin-left: 10px;
}

.icon {
    color: #6a8f3f;
    margin-right: 10px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1450px) {
    .cover {
        width: 430px;
    }
}

@media screen and (max-width: 1050px) {
    .cover {
        width: 100%;
    }
}