.discover {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container:not(:last-child) {
    margin-right: 10px;
}

.cover {
    width: 228px;
    height: 200px;
    object-fit: cover;
}

.title {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.box {
    box-shadow: 0 4px 8px rgb(0 0 0 / 4%), 0 0 2px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 4%);
}