.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 20px;
}

.main {
    width: 75%;
}

.side {
    width: 23%;
}

@media screen and (max-width: 1222px) {
    .container {
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

    .side {
        width: 100%;
    }
}