.img {
    width: 200px;
    height: 180px;
    object-fit: cover;
}

.items {
    margin-bottom: 30px;
}



.category span {
    background: #6a8f3f;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
}

.box {
    display: flex;
    position: relative;
    margin: 15px 15px 15px 0;
    box-shadow: 0 15px 10px -10px rgb(0 0 0 / 20%);

}

.text {
    margin-left: 10px;
}

.icon {
    color: #6a8f3f;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

@media screen and (max-width: 470px) {
    .box {
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .text {
        margin: 0 10px;
        padding: 10px 10px;
    }
}