.container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    /* height: 100vh; */
    margin: 0 20px;
}

.main {
    width: 75%;
    /* background: green; */
}

.side {
    width: 23%;
    /* background: pink; */
}

@media screen and(max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .main__content {
        width: 100%;
    }

    .side__conten {
        width: 100%;
    }
}